.course-card {
    background-color: var(--bg-color);
    border: 2px solid #ddd;
    border-radius: 20px;
    padding: 24px;
    height: 100%;
    display: grid;
    grid-template-rows: 4, 1fr;
}

.course-title {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
}

.course-description {
    margin-bottom: 16px;
    font-size: 14px;
    color: #555;
}

.course-detail {
    font-size: 13px;
    margin-bottom: 5px;
}

.course-detail:last-of-type {
    margin-bottom: 16px;
}

.course-image-placeholder {
    margin-bottom: 16px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.course-image {
    max-width: 100%;
    max-height: 100%;
}

.course-image-text {
    color: #999;
}

.course-tags {
    margin-top: auto;
}

.course-tag {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 5px 12px;
    margin-right: 8px;
    display: inline-block;
    margin-bottom: 8px;
    font-size: 11px;
}